version: '3'

services:
  registry:
    image: registry:2
    container_name: local-registry
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - registry_data:/var/lib/registry
      # Arquivo de senha criado no host via script
      - /opt/auth:/auth
    environment:
      # Autenticação
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
      
      REGISTRY_STORAGE_DELETE_ENABLED: "true"
      
      # Headers para a UI funcionar (CORS) - DOMÍNIO
      REGISTRY_HTTP_HEADERS_ACCESS-CONTROL-ALLOW-ORIGIN: '["https://registry.gs.ornan.dev"]'
      REGISTRY_HTTP_HEADERS_ACCESS-CONTROL-ALLOW-METHODS: '[HEAD,GET,OPTIONS,DELETE]'
      REGISTRY_HTTP_HEADERS_ACCESS-CONTROL-ALLOW-HEADERS: '[Authorization,Accept,Cache-Control]'
      REGISTRY_HTTP_HEADERS_ACCESS-CONTROL-EXPOSE-HEADERS: '[Docker-Content-Digest]'

  registry-ui:
    image: joxit/docker-registry-ui:latest
    container_name: registry-ui
    restart: always
    ports:
      - "8080:80"
    environment:
      - REGISTRY_TITLE=Registry GiuSoft
      # DOMÍNIO
      - REGISTRY_URL=https://registry.giusoft.com.br
      - DELETE_IMAGES=true
      - SINGLE_REGISTRY=true
    depends_on:
      - registry

volumes:
  registry_data:
