version: "3.9"

services:
  app:
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "81:81"
    volumes:
      - /var/npm/data:/data
      - /var/npm/letsencrypt:/etc/letsencrypt
      - /var/npm/logs:/data/logs
    environment:
      - DISABLE_IPV6=true
    networks:
      - npm_network

networks:
  npm_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/16
